@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 25% 15%;
    --foreground: 210 40% 98%;
    --card: 234 19% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 234 19% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 41% 49%;
    --primary-foreground: 231 25% 15%;
    --secondary: 234 19% 28%;
    --secondary-foreground: 210 40% 98%;
    --muted: 234 19% 28%;
    --muted-foreground: 215 20% 65%;
    --accent: 234 19% 28%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 234 19% 25%;
    --input: 234 19% 25%;
    --ring: 174 41% 49%;
    --radius: 0.5rem;
    --chart-1: 174 41% 49%;
    --chart-2: 234 19% 23%;
    --chart-3: 215 20% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 234 19% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 174 41% 49%;
    --sidebar-primary-foreground: 231 25% 15%;
    --sidebar-accent: 234 19% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 234 19% 25%;
    --sidebar-ring: 174 41% 49%;
  }
  .dark {
    --background: 231 25% 15%;
    --foreground: 210 40% 98%;
    --card: 234 19% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 234 19% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 41% 49%;
    --primary-foreground: 231 25% 15%;
    --secondary: 234 19% 28%;
    --secondary-foreground: 210 40% 98%;
    --muted: 234 19% 28%;
    --muted-foreground: 215 20% 65%;
    --accent: 234 19% 28%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 234 19% 25%;
    --input: 234 19% 25%;
    --ring: 174 41% 49%;
    --chart-1: 174 41% 49%;
    --chart-2: 234 19% 23%;
    --chart-3: 215 20% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 234 19% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 174 41% 49%;
    --sidebar-primary-foreground: 231 25% 15%;
    --sidebar-accent: 234 19% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 234 19% 25%;
    --sidebar-ring: 174 41% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
